<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>Chatting Platform</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-grid>
    <ion-text color="medium" text-center>
      <p>You joined the chat as {{ User }}</p>
    </ion-text>
    <ion-row *ngFor="let message of messages">
 
      <ion-col size="5" *ngIf="message.user !== User" class="chat other-chat-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time-stamp " text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
      <ion-col offset="2" size="9" *ngIf="message.user === User" class="chat my-chat-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time-stamp " text-left><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
    </ion-row>
  </ion-grid>
 
</ion-content>
 
<ion-footer>
  <ion-toolbar color="dark">
    <ion-row >
      <ion-col size="8">
        <ion-textarea auto-grow class="message-input" fill="clear" color="primary" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="ion-text-center">
        <ion-button  color="medium" [disabled]="message === ''"
          (click)="sendMessage()">
          Send Message
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>