.chat {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}
 
.my-chat-message {
  background: var(--ion-color-tertiary);
  color: #fff;
}
 
.other-chat-message {
  background: var(--ion-color-secondary);
  color: #fff;
}
 
.time-stamp {
  color: #dfdfdf;
  float: right;
  font-size: small;
}
 
.message-input {
  margin-top: 0px;
  margin-right: 25%;
  margin-left: 25%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;

}
   
  .msg-btn {
    align-items: center;
  }