<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: fit-content; height: fit-content; padding-top: 20%; margin: auto;">
    <div style="margin: auto; width: 60pt; height: 60pt; background-color: darkgray; border-radius: 50%;">
      <!-- this is a placeholder for image -->
    </div>
    <div class="user-name" style="padding-top: 10pt; ">
      Your Email Address
    </div>
    <div class="user-email" *ngIf="returnuser">
      {{returnuser.email}}
    </div>
  </div>
  <ion-row class="ion-justify-content-center">
    <h1>Notes</h1>
  </ion-row>  
  <div class="row">
    <div class="col ion-text-center">
      <ion-button (click)="includenotepopover()"shape="round" size="small">Add Note</ion-button> 
    </div>
  </div>
    <ion-card *ngFor="let note of notes" class="ion-justify-content-center">
      <ion-card-header>
        <ion-card-title>{{note.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{note.description}}
      </ion-card-content>
      <div class="col ion-text-right">
        <ion-button size="small" (click)="includeeditnotepopover($event,note._id)">Edit</ion-button>
    </div>   
      <div class="col ion-text-right">
      <ion-button color="danger" size="small" (click)="includedeletenotepopover($event,note._id)">Delete</ion-button>
      </div>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="switchTheme()">
        <ion-icon name="eye"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
</ion-content>