.user-name {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.user-email {
    text-align: center;
    font-size: 10pt;
}
.my-custom-classs{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}