<h1>Note Add</h1>
<form class="my-4 form-inline">
  <input #webtitleinput required placeholder="Title" type="text" class="form-control col mr-2">
  <input #webdescriptioninput required placeholder="Description" type="text" class="form-control col mr-2">
  <div style="padding-top: 8pt;">
    <button style="height:20pt;" (click)="createNote(webtitleinput.value, webdescriptioninput.value)">Add</button>
  </div>
</form>