<h1>URL Shrinker</h1>
<form class="my-4 form-inline">
  <input #webtitleinput required placeholder="Title" type="text" class="form-control col mr-2">
  <input #urlfullinput required placeholder="Url" type="url" class="form-control col mr-2">
  <input #urlshortinput placeholder="CustomShorturl" type="text" class="form-control col mr-2">
  <div style="padding-top: 8pt;">
    <button style="height:20pt;" (click)="createlink(urlfullinput.value, webtitleinput.value,urlshortinput.value)">Shrink</button>
  </div>
</form>