<h1>Deleting Link?</h1>
<form class="my-4 form-inline">
  <div> Are you sure that you would like to delete this link ?</div>
  <div style="padding-top: 8pt;">
    <button style="height:20pt;" (click)="Confirm()">Confirm</button>
    <button style="height:20pt;">Cancel</button>
  </div>
</form>
