<ion-tabs>
  <ion-tab-bar id="home-nav-bar" slot="bottom" color= "primary">
    <ion-tab-button tab="dashboard">
      Dashboard
    </ion-tab-button>

    <ion-tab-button tab="links">
      Links&Clicks
    </ion-tab-button>

    <ion-tab-button tab="account">
      Account
    </ion-tab-button>
    
    <ion-tab-button tab="message">
      Message
   </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar id="admin-nav-bar" slot="bottom" color= "primary">
    <ion-tab-button tab="users-list">
      Users list
    </ion-tab-button>

    <ion-tab-button tab="account">
      Account
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>