<h1>Note Edit</h1>
<form class="my-4 form-inline">
  <input #webdescriptioninput required placeholder="Description" type="text" class="form-control col mr-2">
  <div style="padding-top: 8pt;">
    <button style="height:20pt;" (click)="editnote(webdescriptioninput.value)">Edit</button>
  </div>
</form>