<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Users' list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let item of this.userEmails; index as i">
    {{userEmails[i]}} - {{userIds[i]}}
  </ion-row>
</ion-content>
