<h1>URL Shrinker</h1>
<form class="my-4 form-inline">
  <input #webtitleinput required placeholder="Title" type="text" class="form-control col mr-2">
  <div style="padding-top: 8pt;">
    <button style="height:20pt;" (click)="editlink(webtitleinput.value)">Edit</button>
  </div>
</form>