<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Links
     
    </ion-title>
   
  </ion-toolbar>
  <div class="col ion-text-right">
    <ion-button (click)="includeloginpopover()">Logout</ion-button>
  </div>
</ion-header>
<ion-content>
  <ion-grid>
    <app-link-table *ngFor="let link of links" [link]="link"></app-link-table>

  </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentPopover()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>