<div class="centered-content">
  <div class="white-box">

    <h1 class="title has-text-primary">Login</h1>
    
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput required placeholder="Email" class="form-control col mr-2" type="email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #pswInput required placeholder="Password" class="form-control col mr-2" type="password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        <button class="button is-success has-text-white" (click)="onLoginButtonClicked(emailInput.value, pswInput.value)">
         
          Login
        </button>   
      </p>
    </div>
    <div *ngIf ="login === false" > SMth bad</div>

    <br>

    <p class="has-text-grey">Do not have an account? <a routerLink="/signup-page">Register</a> now!</p>

  </div>
</div>