<h1>Leaving us ?</h1>
<form class="my-4 form-inline">
  <div> Are you sure that that you would like to log out ?</div>
  <div style="padding-top: 8pt;">
    <button style="height:20pt;" (click)="Logout()">Log out</button>
    <button style="height:20pt;" (click)="Stay()">Stay</button>
  </div>
</form>