/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #1c1e25;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    border: 2px solid transparent;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
  }
  
  .namesofgraphs {
    padding: 0 18px;
    background-color: white;
    margin: auto;
    display: block;
    overflow: hidden;
  }
  
  .circle-add-button {
    position:fixed;
    bottom: 25px;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 12px;
  }

  .star-add-button{
    float: right;
  }

  .trash-button{
    --ion-color-primary: brown;
    float: right;
  }

  .favoriteSelected {
    --ion-color-primary: Blue;
  }

  .isPredicting {
    --ion-color-primary: LightBlue;
  }
  .center {
    border: 5px solid #FFFF00;
    text-align: center;
    }
    
    .container {
      text-align: center;
      input {
         width: 200px;
         padding: 10px;
         font-size: 15px;
      }
      .coolQRCode {
         filter: drop-shadow(3px 3px 3px #999);
         img {
            width: 250px;
         }
      }
   }