<ion-row *ngIf="link.linkCards.length > 0" style="padding:2pt">
  <button (click)="linkToggled()" class="accordion">{{link.linkName}}</button> 
  <div class="col ion-text-right">
  <ion-button size="small" (click)="presentPopoverEdit()"> Edit </ion-button> 
  <ion-button size="small" color="danger" (click)="presentPopoverDelete()"> Delete </ion-button>
  </div> 
  <div *ngIf="!link.isCollapsed" class="panel">

    <div class="ion-text-center"> <td><a href="http://localhost:8100/l4u/{{link.shortUrl}}"> http://localhost:8100/l4u/{{link.shortUrl}}</a></td></div>

    <ion-button (click)="copyToClipboard()">
      <ion-icon name="copy"></ion-icon>
    </ion-button>
    
    <div class="container">
      <ngx-qrcode
         [elementType]="elementType"
         [errorCorrectionLevel]="correctionLevel"
         [value]="link.shortfullUrl"
         cssClass="coolQRCode" >
        </ngx-qrcode>
   </div>
    <div class="col ion-text-center">
    <ion-button (click)="downloadQRCode()">Download QRCode</ion-button>

    </div> 

    <div *ngFor="let linkCard of link.linkCards | slice:0:link.getVisibleCardCount()">
      <app-link-card [linkCard]=linkCard></app-link-card>
      <ion-button 
        *ngIf="!link.isInDashboard" 
        (click)="favoritePressed(linkCard, link.shortUrl)" 
        class="star-add-button"
        [class.favoriteSelected]="linkCard.favorited">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="linkCard.infoType == 'Time of day' && linkCard.canPredict"
        (click)="predictionClicked(linkCard)"
        [class.isPredicting]="linkCard.isPredicting">
        <ion-icon name="glasses"></ion-icon>
      </ion-button>
      <ion-button 
        *ngIf="link.isInDashboard"
        (click)="favoriteRemoveClicked(linkCard, link.shortUrl)"
        class="trash-button">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="shouldShowMoreButton()" >
      <ion-button (click)="moreButtonClicked()" style="width: 100%">{{moreButtonText}}</ion-button>
    </div>

  </div>
</ion-row>