<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid >
    
    <app-link-table *ngFor="let link of links" [link]="link"></app-link-table>
 
  </ion-grid>
</ion-content>
