/* Style the buttons that are used to open and close the accordion panel */
.accordion1 {
    background-color: #eee;
    color: #1c1e25;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 15%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #394a5f;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    margin-top: 18px;
    display: none;
    overflow: hidden;
  }
  